<div class="control-popup modal fade" id="graph-templates" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Templates
                </h4>
                &nbsp;<a target="_blank" style="text-decoration: none;" href="https://github.com/nocio/headstart">
                    View on GitHub <i class="oc-icon-github"></i>
                </a>
            </div>
            <div class="modal-body">
                <div id="graph-templates-body">
                    <div class="loading-indicator-container">
                        <div class="loading-indicator indicator-center">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="layout-row min-size">
    <div class="control-toolbar toolbar-padded <?= $toolbarClass ?>">

        <!-- Control Panel -->
        <div class="toolbar-item" data-calculate-width>
            <div class="btn-group">
                <div class="dropdown <?= !$this->sortingProperties ? 'last' : null ?>">
                    <a href="#" data-toggle="dropdown" class="btn btn-primary oc-icon-plus">
                        <?= e(trans('cms::lang.sidebar.add')) ?>
                    </a>
                    <ul class="dropdown-menu" role="menu" data-dropdown-title="Add a graph">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#" class="oc-icon-file-code-o" data-control="create-template">
                                New
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#graph-templates" class="oc-icon-magic"
                               data-toggle="modal"
                               data-request="onRefreshGraphTemplates"
                               data-request-update="graph_templates: '#graph-templates-body'">
                                From template
                            </a>
                        </li>
                    </ul>
                </div>

                <?php if ($this->sortingProperties): ?>
                    <div class="dropdown">
                        <button
                            type="button"
                            class="btn btn-default empty oc-icon-sort-alpha-asc"
                            data-toggle="dropdown"></button>
                        <ul
                            class="dropdown-menu offset-left"
                            data-dropdown-title="<?= e(trans('cms::lang.template.order_by')) ?>"
                            id="<?= $this->getId('sorting-options') ?>"
                            role="menu">
                            <?= $this->makePartial('sorting-options') ?>
                        </ul>
                    </div>
                <?php endif?>

                <button type="button" class="btn btn-danger empty oc-icon-trash-o hide"
                    id="<?= $this->getId('delete-button') ?>"
                    data-control="delete-template"
                    data-confirmation="<?= e(trans($this->deleteConfirmation)) ?>"
                    data-trigger-action="show"
                    data-trigger="<?= '#'.$this->getId('template-list') ?> input[type=checkbox]"
                    data-trigger-condition="checked">
                </button>
            </div>
        </div>

        <!-- Template Search -->
        <div class="relative toolbar-item loading-indicator-container size-input-text">
            <input placeholder="<?= e(trans('cms::lang.sidebar.search')) ?>" type="text" name="search" value="<?= e($this->getSearchTerm()) ?>"
                class="form-control icon search" autocomplete="off"
                data-track-input
                data-load-indicator
                data-load-indicator-opaque
                data-request-success="$('<?= '#'.$this->getId('delete-button') ?>').trigger('oc.triggerOn.update')"
                data-request="<?= $this->getEventHandler('onSearch') ?>"
            />
        </div>

    </div>
</div>
