version: '3.8'
services:
    elasticsearch:
        container_name: shredindex-backend-elasticsearch
        image: docker.elastic.co/elasticsearch/elasticsearch:7.17.0
        environment:
            - discovery.type=single-node
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        ulimits:
            memlock:
                soft: -1
                hard: -1
        volumes:
            - esdata:/usr/share/elasticsearch/data
        ports:
            - "9200:9200"
            - "9300:9300"
    php:
        container_name: shredindex-backend-php
        build:
            context: ./php
        ports:
            - 9000:9000
        depends_on:
            - mysql
        volumes:
            - ../:/var/www/html
            - ./etc/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf
            - ./etc/php/conf.d/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
        environment:
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            XDEBUG_MODE: ${XDEBUG_MODE}
    mysql:
        container_name: shredindex-backend-mysql
        image: mysql:5.7
        command: mysqld --default-authentication-plugin=mysql_native_password
        ports:
            - 3306:3306
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    nginx:
        container_name: shredindex-backend-nginx
        image: nginx:latest
        volumes:
            - ../:/var/www/html
            - ./etc/nginx/conf.d/:/etc/nginx/conf.d/
            - ./var/log/nginx/:/var/log/nginx/
        depends_on:
            - php
        ports:
            - ${NGINX_PORT}
volumes:
    esdata:
        driver: local
