<div class="layout-row min-size">
    <div class="control-toolbar toolbar-padded">

        <!-- Component GraphQL support filter -->
        <div class="toolbar-item" data-calculate-width>
            <div class="btn-group">
                <?php $mode = $this->getFilterMode(); ?>
                <button
                        type="button"
                        class="btn btn-default oc-icon-filter empty <?= $mode == 'my' ? 'on' : '' ?>"
                        title="<?= e(trans('nocio.headstart::lang.components.filter_description')) ?>"
                        data-toggle="tooltip"
                        data-container="body"
                        data-placement="bottom"
                        data-stripe-load-indicator
                        data-request="<?= $this->getEventHandler('onToggleFilter') ?>"
                        onclick="$(this).tooltip('hide')"></button>
            </div>
        </div>

        <!-- Component Search -->
        <div class="relative toolbar-item loading-indicator-container size-input-text">

            <input placeholder="<?= e(trans('cms::lang.sidebar.search')) ?>" type="text" name="search" value="<?= e($this->getSearchTerm()) ?>" 
                class="form-control icon search" autocomplete="off"
                data-track-input
                data-load-indicator
                data-load-indicator-opaque
                data-request="<?= $this->getEventHandler('onSearch') ?>"
            />
        </div>

    </div>
</div>
